body{
    margin: 0;
}

.pain-abbrs {
    text-decoration: none;
}

.em {
    font-style: normal;
    font-weight: 900;
}

.site-header {
    background-color: #eee;
    padding: 30px;
    border-bottom: 4px solid #000;
}

.site-id {
    margin: 0 0 40px 0;
}

.site-content {
    padding: 0 30px;
}

.site-footer {
    color: #fff;
    background-color: #c00;
    padding: 30px;
}

.footer-links {
    list-style-type: none;
    padding-left: 0;
}

.footer-link {
    color: #fff;
    text-decoration: none;
}